#platform=x86, AMD64, or Intel EM64T  
#version=DEVEL  
# Firewall configuration  
firewall --disabled  
# Install OS instead of upgrade  
install  
# Use network installation  
url --url=http://172.16.92.13/centos
# Root password  
rootpw --iscrypted $1$YfhInJ/9$hqyxxL34AduJm0Zzfcl/F1  
# System authorization information  
auth  --passalgo=sha512  
# Use graphical install  
graphical  
firstboot --disable  
# System keyboard  
keyboard us  
# System language  
lang en_US  
# SELinux configuration  
selinux --disabled  
# Installation logging level  
logging --level=info  
  
  
key --skip  
  
  
# System timezone  
timezone  Asia/Shanghai  
# Network information  
network  --bootproto=dhcp --device=eth0 --onboot=on  
# System bootloader configuration  
bootloader --location=mbr  
# Clear the Master Boot Record  
zerombr  
# Partition clearing information  
clearpart --all --initlabel   
# Disk partitioning information  
part /boot --fstype="ext4" --size=200  
part swap --fstype="swap" --size=4096  
part / --fstype="ext4" --grow --size=1  
  
  
%packages  
@base  
@chinese-support  
@core  
@debugging  
@basic-desktop  
@desktop-debugging  
@desktop-platform  
@directory-client  
@fonts  
@general-desktop  
@graphical-admin-tools  
@input-methods  
@internet-applications  
@internet-browser  
@java-platform  
@legacy-x  
@network-file-system-client  
@office-suite  
@print-client  
@remote-desktop-clients  
@server-platform  
@server-policy  
@x11  
mtools  
pax  
oddjob  
wodim  
sgpio  
genisoimage  
device-mapper-persistent-data  
abrt-gui  
samba-winbind  
certmonger  
pam_krb5  
krb5-workstation  
gnome-pilot  
libXmu  
  
  
%end  
